Padding in Base64Url encoding should be optional

Per [Section 3.2 of RFC4648], the padding on Base64 URL-safe codec is actually optional. [RFC7636] is a concrete example where a padless encoding is _required_ (as explicitly stated in [Section 3]). Any chance for supporting padless `Base64Url ` encoding out-of-the-box in `scodec`? This way, manual workarounds (e.g., `ByteVector(bytes).toBase64(Base64Url).takeWhile(_ != '=')`) would be eliminated.

[Section 3.2 of RFC4648]: https://tools.ietf.org/html/rfc4648#section-3.2
[RFC7636]: https://tools.ietf.org/html/rfc7636
[Section 3]: https://tools.ietf.org/html/rfc7636#section-3

Thanks for the patience on this one. Yeah, this seems like something that should be supported out of the box. Are you interested in opening a PR? Note the repo is https://github.com/scodec/scodec-bits.

@mpilquist This can be closed too as it was already fixed: [#188](https://github.com/scodec/scodec-bits/pull/188)